<%= form_for @hall do |f| %>

  <% if @hall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hall.errors.count, "error") %> prohibited this controller from being saved:</h2>

      <ul>
      <% @hall.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>


    <%= f.label :name, "Title" %> <br>
    <%= f.text_field :name %> <br>

    <%= f.label :description, "Description" %> <br>
    <%= f.text_area :description %> <br>

    <%= f.label :price, "Price" %> <br>
    <%= f.number_field :price %>

    <%= f.file_field :photos %>

    <%= f.select 'city_id', @cities.map{ |u| [u.name, u.id] }%>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

