<%= form_for @hall do |f| %>

  <% if @hall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hall.errors.count, "error") %> prohibited this controller from being saved:</h2>

      <ul>
      <% @hall.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>


    <%= f.label :name, "Title" %> <br>
    <%= f.text_field :name %> <br>

    <%= f.label :description, "Description" %> <br>
    <%= f.text_area :description %> <br>

    <%= f.label :price, "Price" %> <br>
    <%= f.number_field :price %> <br> <br>

    <%= f.file_field :photos %> <br>

    <%= f.label :city %>:
    <%= f.select :city_id, @cities.map{ |u| [u.name, u.id] }%> <br> <br>

    <%= f.label :venue_type %>:
    <%#= f.select :venue_type_id, VenueType.all.pluck(:name, :id)%> <!-- переробити на чекбокс -->
    <%= f.collection_check_boxes :venue_type_ids, VenueType.all, :id, :name %>

    <%#= f.collection_check_boxes(:venue_types, :hall_id, VenueType.all, :id, :name) %>
    <%#= f.collection_check_boxes :venue_type_id, @venue_types.map{ |v| [v.name, v.id]} %>
     <br> <br>

    <%= f.label :event_type %>:
    <%#= f.collection_check_boxes(:event_types, :hall_id, EventType.all, :id, :name) %>
    <%#= f.select :event_type, EventType.all.pluck(:name, :id)  %>
    <%= f.collection_check_boxes :event_type_ids, EventType.all, :id, :name %>




    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

