<div class="row">
<% @halls.each do |hall| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag hall.photos.url %>
      <div class="caption text-center">
        <h3><%= hall.name %></h3>
        <h5><%= hall.city.name if hall.city %></h5>
        <p><%= hall.description %></p>
        <p>
          <%= link_to 'Show', hall, class: "btn btn-success" %>
          <%= link_to 'Edit', edit_hall_path(hall), class: "btn btn-warning" %>
          <%= link_to 'Destroy', hall, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  </div>
  <% end -%>
</div>