<div class="search">
    <%= form_tag(halls_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <%#= text_field_tag :search, params[:search], placeholder: "Search Halls" %>
        <ul>
          <% @city.each do |city| %>
              <li>
                <%= check_box_tag 'city', city.name -%>
                <%=  city.name -%>
              </li>
          <% end %>
      </ul>

            <ul>
                <% @venue_type.each do |venue| %>
                    <li>
                      <%= check_box_tag 'venue_type', venue.name -%>
                      <%=  venue.name -%>
                    </li>
                <% end %>
            </ul>

            <ul>
                <% @event_type.each do |event| %>
                    <li>
                      <%= check_box_tag 'event_type', event.name -%>
                      <%=  event.name -%>
                    </li>
                <% end %>
            </ul>
        <%=  %>


        <button class="btn" type="submit">Search</button>
  <% end %>
</div>

<span class="label label-info"><%= params[:event_type] %> >> <%= params[:venue_type] %> >> <%= params[:city] %></span> <br>

<% if @halls.count == 0 %>
   <h1>There are currently no halls in this category</h1>
<% else %>
    <div class="row">
      <% @halls.each do |hall| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag hall.photos.url %>
            <div class="caption text-center">
              <div class="hall-title">
                <h3><%= link_to truncate(hall.name, length: 15), hall %></h3>
              </div>

              <h5><%= hall.city.name if hall.city %></h5>
              <div id="price">
                <p>
                  $ <%= hall.price %>
                </p>
              </div>
              <p><%#= truncate(hall.description, length: 60) %></p>
            </div>
          </div>
        </div>
        <% end -%>
    </div>
<% end %>



<%#= paginate @halls  %>

<br>

<%= link_to 'New Hall', new_hall_path, class: "btn btn-success" %>
