<p id="notice"><%#= notice %></p>

$ <%= @hall.price %>  <br>
<%= @hall.description %> <br>
<%= image_tag @hall.photos_url.to_s if @hall.photos_url.present? %> <br>

<%= link_to 'Edit', edit_hall_path(@hall) %> |
<%= link_to 'Back', halls_path %>
