<% flash.each do |key, value| %>
	<div class="<%= flash_class(key) %>">
		<%= value %>
	</div>
<% end %>

<div class="show-hall-wrapper container panel panel-default">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-9">
              <h3><%= @hall.name %></h3>
            </div>

            <div class="col-md-3">
               <p class="price">₴ <%= @hall.price %></p>
            </div>
         </div>


          <ul class="bxslider">
              <% @hall.photos.each do |photo| %>
                    <li><%= cl_image_tag(photo.path, {:crop=>:fill, :width=>550, :height=>270,}) %></li>
              <% end -%>
          </ul>


           <div class="description">
              <p><%= simple_format @hall.description %></p>
           </div>

           <div class="social">
            <a href="https://twitter.com/intent/tweet?source=<%= url_for ([@hall, {only_path: false}]) %>&text=<%= @hall.name %>:<%= url_for ([@hall, {only_path: false}]) %>" target="_blank" title="Tweet"><i class="fa fa-twitter" aria-hidden="true"></i></a>
             <a href="https://www.facebook.com/sharer/sharer.php?t=<%= @hall.name %>:<%= url_for(action: 'show', controller: '/halls') %>" title="Share on Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
           </div>
      </div> <!-- col-md-6 -->

      <div class="col-md-6">

         <div class="user-info text-center">
		<% if @hall.user.avatar.present? %>
			<%= cl_image_tag(@hall.user.avatar.path) %>
		<% else %>
			<img src="http://placehold.it/100x100">
		<% end %>

            <p><%= @hall.user.phone %></p>
            <%= render 'contact_modal' %>
         </div>


         <%= t('show.city') %>: <h5 class="label label-info"> <%= @hall.city.name if @hall.city.name %> <br></h5> <br>

         <%= t('show.venue_type') %>:
         <% @hall.venue_types.each do |v| %>
            <h5 class="label label-info"> <%= v.name %> </h5>
         <% end %>  <br><br>

         <%= t('show.event_type') %>:
          <% @hall.event_types.each do |e| %>
               <h5 class="label label-info"> <%= e.name %> </h5>
         <% end %> <br> <br>


        <% if current_user == @hall.user %>
          <%= link_to t('show.edit'), edit_hall_path(@hall), class: "btn btn-default" %>  |
        <% end %>

         <%= link_to t('show.back'), halls_path, class: "btn btn-default" %>
      </div>
   </div>
</div>

<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>
