<div class="show-hall-wrapper">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-9">
              <h3><%= @hall.name %></h3>
            </div>

<<<<<<< HEAD
<h3><%= @hall.name %></h3>
$ <%= @hall.price %>  <br>
<h5>Description: <%= @hall.description %></h5>  <br>
<h5>City: <%= @hall.city.name if @hall.city.name %> <br></h5>
<h5>Venue Types: <% @hall.venue_types.each do |v| %>
   <%= v.name %>
<% end %> <br></h5>
<<<<<<< HEAD
<h5>Event Types: <%=@hall.event_types.map(&:name).to_sentence%>
   <br></h5>
=======
<h5>Event Types: <% @hall.event_types.map %>
<% end -%> <br></h5>
>>>>>>> 3dcd3973a5a8d70a2918a519e430401ca7751d68
=======
            <div class="col-md-3">
               <p class="price">$ <%= @hall.price %></p>
            </div>
         </div>
           <%= image_tag @hall.photos_url if @hall.photos_url %> <br>
      </div>
>>>>>>> 97370dee03a4d6360088c9b95ef9bb8d12c8fb62

      <div class="col-md-6">
         <div class="description">
            <h5>Description: </h5>
            <%= @hall.description %>
         </div>

         City: <h5 class="label label-info"> <%= @hall.city.name if @hall.city.name %> <br></h5> <br>

         Venue Type:
         <% @hall.venue_types.each do |v| %>
            <h5 class="label label-info"> <%= v.name %> </h5>
         <% end %>  <br><br>

         Event Type:
          <% @hall.event_types.each do |e| %>
               <h5 class="label label-info"> <%= e.name %> </h5>
         <% end %> <br> <br>

         Contact the owner:
         <%= @hall.user.name %>
         <%= @hall.user.email %>
         <%= @hall.user.phone %> <br>
         <br>
         <br>

         <%= link_to 'Edit', edit_hall_path(@hall), class: "btn btn-default" %> |
         <%= link_to 'Back', halls_path, class: "btn btn-default" %>
      </div>
   </div>
</div>

