
<h3><%= @hall.name %></h3>
$ <%= @hall.price %>  <br>
<h5>Description: <%= @hall.description %></h5>  <br>
<h5>City: <%= @hall.city.name if @hall.city.name %> <br></h5>
<h5>Venue Type: <% @hall.venue_types.each do |v| %>
   <%= v.name %>
<% end %> <br></h5>
<h5>Event Type: <% @hall.event_types.each do |e| %>
   <%= e.name %>
<% end -%> <br></h5>





<%= image_tag @hall.photos_url if @hall.photos_url %> <br>

<%= link_to 'Edit', edit_hall_path(@hall) %> |
<%= link_to 'Back', halls_path %>
