<div class="show-hall-wrapper container panel panel-default">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-9">
              <h3><%= @hall.name %></h3>
            </div>

            <div class="col-md-3">
               <p class="price">$ <%= @hall.price %></p>
            </div>
         </div>


         <% @hall.photos.each do |photo| %>
            <%= cl_image_tag(photo.path) %>
        <% end %>

           <%#= image_tag @hall.photos_url if @hall.photos_url %> <br>

           <div class="description">
            <h5>Description: </h5>
            <p><%= @hall.description %></p>
         </div>
      </div> <!-- col-md-6 -->

      <div class="col-md-6">

         <div class="user-info text-center">
            <%= image_tag @hall.user.avatar.url %>
            <p><%= @hall.user.phone %></p>
            <%= render 'contact_modal' %>
         </div>


         City: <h5 class="label label-info"> <%= @hall.city.name if @hall.city.name %> <br></h5> <br>

         Venue Type:
         <% @hall.venue_types.each do |v| %>
            <h5 class="label label-info"> <%= v.name %> </h5>
         <% end %>  <br><br>

         Event Type:
          <% @hall.event_types.each do |e| %>
               <h5 class="label label-info"> <%= e.name %> </h5>
         <% end %> <br> <br>


        <% if current_user == @hall.user %>
          <%= link_to 'Edit', edit_hall_path(@hall), class: "btn btn-default" %>  |
        <% end %>

         <%= link_to 'Back', halls_path, class: "btn btn-default" %>
      </div>
   </div>
</div>