<%= form_for @message, {id: "contact-form"} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
        <%= f.text_field :name %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :email, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
        <%= f.email_field :email %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :subject, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
        <%= f.text_field :subject %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label :content, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
        <%= f.text_area :content %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Send', class: 'button' %>
  </div>
<% end %>

