<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><%= link_to  t('nav.new_hall'), new_hall_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <% if I18n.locale == :en %>
              <li><%= link_to_unless_current t('languages.uk'), locale: :uk %></li>
          <% else %>
              <li><%= link_to_unless_current t('languages.en'), locale: :en %></li>
          <%end%>

          <li class="team-li"><%= link_to t('nav.our_team'), our_team_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to t('nav.edit_profile'), edit_user_registration_path %></li>
          <li><%= link_to t('nav.sign_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('nav.log_in'), new_user_session_path %></li>
          <li><%= link_to t('nav.sign_up') , new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
