<!DOCTYPE html>
<html>
<head>
	<title>Eventhall</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag 'variables' %>

	<%= stylesheet_link_tag 'jquery.bxslider' %>
	<%= javascript_include_tag 'jquery.bxslider' %>


	<%= javascript_include_tag 'bootstrap-select' %>
	<%= stylesheet_link_tag 'bootstrap-select' %>


	<link href='https://fonts.googleapis.com/css?family=Life+Savers:700' rel='stylesheet' type='text/css'>
         <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
	<%= cloudinary_js_config %>

</head>
<body>

<%= render 'layouts/nav' %>

 <%= yield %>

<footer class="navbar-fixed-bottom">
	<div class="container">
	&copy; <%= Date.today.year %> Romankan &amp; Grek | <a href="http://www.live-idea.org/">Live Idea</a>
	</div>
</footer>

<script id="dsq-count-scr" src="//random-one.disqus.com/count.js" async></script>
</body>
</html>
